{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
    "scss/operator-no-newline-after": null,
    "function-calc-no-unspaced-operator": [
      true,
      {
        "message": "Not whitespace or a newline after that operator."
      }
    ],

    "color-no-hex": [
      null,
      {
        "message": "Don't use hex colors like \"%s\""
      }
    ]
  }
}
